.container {
    margin: 0;   
}
.d-flex {
    padding-right: 20px;
}
.log-in {
    margin-right: 30px;
    font-weight: 600;
    font-size: 18px;
}
.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.img-fluid {
    max-width: 40px;
    max-height: 40px;
}
li {
    list-style-type: none;
}
.translation {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.nav-trans a img {
    margin-right: 10px;
    width: 22px;
}

/* responsive */

/* .container-fluid{
    background-color: rgba(68, 78, 101, 0.67);
} */
@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(243, 243, 243, 0.696);
        backdrop-filter: blur(10px);
        border-radius: 0 20px 20px 0;
        border: none;
    }
    .trans {
        margin-bottom: 10px;
    }
}
.navbar-toggler .nav-icon {
    color: white;
  } 
