<section class="bg-dark" style="padding: 20px;">
    <div class="container">
        <div class="row text-white">
          <div class="col-sm sec-1-cols text-center">
            <h3>My Profile</h3>
            <p>Log In</p>
            <p>Registration</p>
          </div>
          <div class="col-sm sec-1-cols text-center">
            <h3>Other</h3>
            <p>Other About us</p>
            <p>Contact</p>
            <p>Terms and Conditions</p>
          </div>
          <div class="col-sm sec-1-cols text-center">
            <h3>Clothes</h3>
            <p>Products</p>
          </div>
        </div>
      </div>
</section>
<!-- section 2 -->
<section class="sec-2" style="background-color: rgba(94, 94, 94, 0.93);">
    <div class="container">
        <div class="row text-white" style="padding: 5px;">
          <div class="col-sm text-center">
            <img src="/assets/logo/social.png" style="width: 40px;" alt="website-logo">
          </div>
          <div class="col-sm text-center text-white d-flex justify-content-center align-items-center">
            <p>&copy; 2024 All rights reserved</p>
          </div>
          <div class="col-sm text-center">
            <img src="/assets/logo/social-media.png" width="20px" alt="">
            <img src="/assets/logo/instagram.png" width="20px" style="margin-left: 10px;" alt="">
          </div>
        </div>
      </div>
</section>
