@media(max-width: 1400px) {
    .description {
        width: 400px;
    }
    .delivary {
        margin-top: 600px;
        margin-left: 50px;
    }
}

img {
    box-shadow: 5px 5px 5px rgba(155, 155, 155, 0.276);
}
/* products */
.card {
    /* margin: 10px;
    margin-left: 20px; */
    height: 400px;
    padding: 20px 10px;
    border: none;
    position: relative;
    cursor: pointer;
  }
  

  /* delivary */
  .delivary ul li {
    list-style-type: disc;

  }
.image-cont {
    width: 400px;
} 