.gradient-custom-3 {

    padding: 40px;
    background-color: rgba(128, 128, 128, 0.406);
    border-radius: 20px;
}
.gradient-custom-4 {
    background-color: white;
    transition: 0.3s;
    color: black;
    border: 1px solid black;
}
.gradient-custom-4:hover {
    background-color: black;
    color: white;
}