<table class="table" >
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">role</th>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of userList">
      <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.role }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastname}}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
