@media(max-width: 1400px) {
    .sec-3-col-3 {
        margin-top: 40px;
    }

}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

/*  */
.container {
    padding: 40px;
}
.row {
    margin-top: 40px;
}

/* section 2 */
.sec-1 {
    padding: 40px;
}
.icon {
    width: 80px;
}
.icons-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.icons-cont:hover {
    background-color: rgba(128, 128, 128, 0.105);

}
.icons-cont p {
    font-weight: 400;
    font-size: 18px;
}
.icons-cont h2 {
    font-size: 25px;
}
/* product */
@media(max-width: 1400px) {
    .card {
      margin: 10px;
      margin-left: 5px;
      height: 400px;
      max-width: 220px;
      /* padding-top: 20px; */
      padding: 20px 10px;
      border: none;
      position: relative;
      cursor: pointer;
    }
  }
  .product {
      margin-top: 50px;
      font-size: 16px;
  }
  .card {
      margin: 10px;
      margin-left: 5px;
      height: 400px;
      /* max-width: 240px; */
      /* padding-top: 20px; */
      padding: 20px 10px;
      border: none;
      position: relative;
      cursor: pointer;
    }
    
    .card-img-top {
      width: 60%;
      height: auto; /* Maintain aspect ratio */
      transition: ease-in 0.2s;
      margin-left: 10px;
      border: 1px solid white;
      border-radius: 5px;
    }
    .card-img-top:hover {
      padding: 5px;
    }
    .card-title {
      font-size: 18px;
    }
    .price {
      font-weight: 600;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
    }
    h6 {
      font-size: 16px;
    }