<div class="product">
    <ul>
      <li *ngFor="let item of product">
        <ng-container *ngIf="item.active">
          <div class="card" style="width: 18rem;" routerLink="/product/{{ item.title }}">
            <img [src]="item.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="price">{{"Price" | translate }}: {{ item.price  }}</p>
              <h6>{{"Added by" | translate }}: {{ getUserName(item.userId) }}</h6>
            </div>
          </div>
        </ng-container>
      </li>
    </ul>
  </div>
