<div class="containers" routerLink="/addproduct">
  
  <img class="addIcon" src="/assets/logo/add.png" style="width: 70px;" alt="">
  <strong>{{"Add new product" | translate}}</strong>
</div>
<ng-container *ngIf="checkProduct" >
  <h1 class="d-flex align-items-center justify-content-center" style="margin-top: 100px;">YOU DO NOT HAVE PRODUCT</h1>
</ng-container>
<div class="product">

    <ul>
      
      <li *ngFor="let item of myProducts">
        <ng-container >
          <div class="card" [ngClass]="{'inactive-item': !item.active}" style="width: 18rem;" >
            <img [src]="item.image" class="card-img-top" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="price">{{"Price" | translate}}: {{ item.price }}</p>
            </div>
            <div class="buttons">
                <button p-button type="button" routerLink="/editproduct" class="btn btn-light">{{"Edit" | translate}}</button>
                <button type="button" routerLink="/myproducts" *ngIf="item.active" (click)="updateProduct(item.id)" class="btn btn-dark">{{"DELETE" | translate}}</button>
                <button type="button" *ngIf="!item.active" routerLink="/myproducts" (click)="updateProduct(item.id)" class="btn btn-dark">{{"RETURN" | translate}}</button>
            </div>
          </div>
        </ng-container>
      </li>
    </ul>


  </div>
 
  <!-- routerLink="/product/{{ item.title }}" -->
