<div class="product">
    <ul>
      <li *ngFor="let item of myProducts">
        <ng-container >
          <div class="card" [ngClass]="{'inactive-item': !item.active}" style="width: 18rem;" >
            <img [src]="item.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="price">Price: {{ item.price }}</p>
            </div>
            <div class="buttons">
                <button p-button type="button" class="btn btn-light">Edit</button>
                <button type="button" routerLink="/myproducts" (click)="updateProduct(item.active)" class="btn btn-dark">DELETE</button>
            </div>
          </div>
        </ng-container>
      </li>
    </ul>
  </div>
  <!-- routerLink="/product/{{ item.title }}" -->
